<div class="container2 mt-5">
    <div class="calc-body">
        <div class="calc-screen">
            <div class="output">
                <input type="text" class="form-control text-right kz-input-text" id="display" name="display" [value]="display" readonly>
            </div>
        </div>
        <div class="calc-button-row">
            <div class="button c" (click)="limpar()">C</div>
            <div class="button l">≠</div>
            <div class="button l">%</div>
            <div class="button l" (click)="defineOperation('/')">/</div>
        </div>
        <div class="calc-button-row">
            <div class="button" (click)="addNumber('7')">7</div>
            <div class="button" (click)="addNumber('8')">8</div>
            <div class="button" (click)="addNumber('9')">9</div>
            <div class="button l" (click)="defineOperation('*')">x</div>
        </div>
        <div class="calc-button-row">
            <div class="button" (click)="addNumber('4')">4</div>
            <div class="button" (click)="addNumber('5')">5</div>
            <div class="button" (click)="addNumber('6')">6</div>
            <div class="button l" (click)="defineOperation('-')">-</div>
        </div>
        <div class="calc-button-row">
            <div class="button" id="btn1" (click)="addNumber('1')">1</div>
            <div class="button" id="btn2" (click)="addNumber('2')">2</div>
            <div class="button" (click)="addNumber('3')">3</div>
            <div class="button l" id="btnSoma" (click)="defineOperation('+')">+</div>
        </div>
        <div class="calc-button-row ">
            <div class="button" (click)="addNumber('.')">.</div>
            <div class="button" (click)="addNumber('0')">0</div>
            <div class="button ">
            </div>
            <div class="button l" (click)="calcular()">=</div>
        </div>
    </div>
</div>