<div class="container ">
	<div class="row">
		<div class="col-md-12">
		<form class="mt-4 form-inline">
			<input [(ngModel)]="num1" name="input1" type="text" class="form-control mr-2" placeholder="Enter 1st number">
			<input [(ngModel)]="num2" name="input2" type="text" class="form-control" placeholder="Enter  2nd  number">
			<p class="ml-2"> The {{operation}} of {{num1}} and {{num2}} =  {{result}} </p>
		</form>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-md-12">
		<button type="button" (click)="add($event)" class="btn btn-primary mr-2">Add</button>
		<button type="button" (click)='sub($event)' class="btn btn-danger mr-2">Sub</button>
		<button type="button" (click)='mul($event)' class="btn btn-warning mr-2">Mul</button>
		<button type="button"  (click)='div($event)' class="btn btn-success">Div</button>
		</div>
	</div>
</div>


Hi Naseem
